<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite" thread-count="6"><!-- Suite configuration with 5 parallel
threads -->
  <!-- FireFoxTest for running on Firefox browser -->
  <test name="FireFoxTest">

    <parameter name="os" value="Macbook Air"/>
    <parameter name="browser" value="firefox"/>
    <parameter name="headless" value="true"/>

    <classes>
      <class name="com.strique.pages.loginpage.LoginPageTest"/>
    </classes>
  </test>

  <!-- EdgeTest for running on Edge browser -->

  <test name="EdgeTest">

    <parameter name="os" value="Macbook Air"/>
    <parameter name="browser" value="edge"/>
    <parameter name="headless" value="true"/>

    <classes>
      <class name="com.strique.pages.loginpage.LoginPageTest"/>
    </classes>
  </test>


  <!-- ChromeTest for running on Chrome browser -->
  <test name="ChromeTest">

    <parameter name="os" value="Macbook Air"/>
    <parameter name="browser" value="chrome"/>
    <parameter name="headless" value="true"/>

    <classes>
      <class name="com.strique.pages.loginpage.LoginPageTest"/>
    </classes>
  </test>


  <!-- SafariTest for running on Safari browser -->
  <!--<test name="SafariTest">

    <-  <parameter name="os" value="Macbook Air"/>
      <parameter name="headless" value="true"/>

      <classes>
        <class name="com.strique.pages.loginpage.SafariLoginTest"/>
      </classes>
    </test><!-->


</suite> <!-- Suite -->
